html, body, #root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgb(22, 16, 26);
}

.overlay
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.info {
    position: absolute;
    bottom: 15px;
    left: 20px;
    background-color: rgba(123, 61, 255, 0.0);
    font-family: 'Inknut Antiqua', serif;
    font-weight: 400;
    color: rgb(181, 239, 255);
    border: none;
    outline-color: rgb(181, 239, 255);
    outline-style: solid;
    outline-width: 1.5px;
    font-size: 16px;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
    cursor: pointer;
    /* mix-blend-mode: difference; */
}


.fish-container
{
    position: absolute;
    /* bottom: 45vh; */
    top: 26vh;
    right: 10vw;   
    width: min(699px, 33vw);
    height: calc(min(699px, 33vw) * 0.54);
    animation: fadeIn 0.5s;
}

.table-container
{
    position: absolute;
    top: 10vh;
    left: 40vw;
    width: min(490px, 30vw);
    height: calc(min(490px, 30vw) * 0.76);
    animation: fadeIn 0.5s;
}


.dance-container
{
    position: absolute;
    top: 15vh;
    left: 7vw;   
    width: min(700px, 35vw);
    height: calc(min(700px, 35vw) * 0.77);
    animation: fadeIn 0.5s;
}

.jug-container
{
    position: absolute;
    left: 16vw;
    bottom: 20vh;
    height: min(600px, 55vh);
    width: calc(min(600px, 55vh) * 0.78);
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1;}
}


.fish-painting,
.dance-painting,
.jug-painting,
.table-painting
{
    cursor: pointer;
    pointer-events: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    outline: 10px solid rgba(254, 207, 85, 1);
}

.fish-painting
{
    width: min(699px, 33vw);
    height: calc(min(699px, 33vw) * 0.54);
}

.table-painting
{
    width: min(490px, 30vw);
    height: calc(min(490px, 30vw) * 0.76);
}

.dance-painting
{
    width: min(700px, 35vw);
    height: calc(min(700px, 35vw) * 0.77);
}


.jug-painting
{
    height: min(600px, 55vh);
    width: calc(min(600px, 55vh) * 0.78)
}

.fish-text,
.dance-text,
.jug-text
{   
    font-family: 'Inknut Antiqua', serif;
    position: absolute;
    width: max-content;
    height: fit-content;
    color: #0E1261;
    /* background-color: rgba(203, 207, 255, 0.7); */
    padding: 0px 15px;
    border-radius: 2px;
    font-size: max(16px, 1.6vh);
    /* top: 18px; */
}

.fish-text
{
    background-color: rgba(210, 173, 255, 0.8);
    right: -30px;
    /* top: -70px; */
    top: min(-60px, -6vh);

}

.dance-text
{
    background-color:rgba(255, 202, 214, 0.8);
    left: -30px;
    /* top: -75px; */
    top: min(-60px, -6vh);
}

.jug-text
{
    background-color:rgba(236, 181, 217, 0.8);
    right: -30px;
    bottom: min(-60px, -6vh);
}


.close
{
    /* font-family: 'Syne', sans-serif; */
    /* font-family: 'Inknut Antiqua', serif; */
    font-size: max(30px, 4vh);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(29, 0, 104);
}

@media screen and (max-aspect-ratio: 1/1)
{
    .fish-container, .fish-painting
    {
        width: 80vw;
        height: calc(80vw * 0.54);
    }
    .fish-container
    {
        bottom: 48vh;
        top: auto;
    }


    .dance-container, .dance-painting, .table-container, .table-painting
    {
        width: 75vw;
        height: calc(75vw * 0.77);
    }
    .dance-container
    {
        top: 15vh;
        left: 10vw;
        bottom: auto;
    }

    .table-container
    {
        top: 12vh;
        left: 15vw;
    }


    .jug-container, .jug-painting
    {
        height: 40vh;
        width: calc(40vh * 0.78);
    }
    .jug-container
    {
        top: 10vh;
        bottom: auto;
    }


    .fish-text, .dance-text, .jug-text
    {
        top: min(-60px, -7vh);
    }

    .info 
    {
        left: 15px;
    }
}