html, body, #root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgb(22, 16, 26);
}

.overlay
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}


.fish-container
{
    position: absolute;
    /* bottom: 45vh; */
    top: 30vh;
    right: 10vw;   
    width: min(550px, 35vw);
    /* min-width: 400px; */
    height: calc(min(550px, 35vw) * 0.54);
}


.dance-container
{
    position: absolute;
    /* bottom: 35vh; */
    top: 20vh;
    left: 7vw;   
    width: min(550px, 35vw);
    /* min-width: 400px; */
    height: calc(min(550px, 35vw) * 0.77);
}

.jug-container
{
    position: absolute;
    left: 16vw;
    bottom: 20vh;
    height: min(550px, 55vh);
    width: calc(min(550px, 55vh) * 0.78)
}


.fish-painting,
.dance-painting,
.jug-painting
{
    cursor: pointer;
    pointer-events: auto;
    width: min(550px, 35vw);
    position: absolute;
    bottom: 0;
    left: 0;
    outline: 10px solid rgba(254, 207, 85, 1);
}

.fish-painting
{
    height: calc(min(550px, 35vw) * 0.54);
}

.dance-painting
{
    height: calc(min(550px, 35vw) * 0.77);
}


.jug-painting
{
    height: min(550px, 55vh);
    width: calc(min(550px, 55vh) * 0.78)
}

.fish-text,
.dance-text,
.jug-text
{   
    font-family: 'Inknut Antiqua', serif;
    position: absolute;
    width: max-content;
    height: fit-content;
    color: #0E1261;
    /* background-color: rgba(203, 207, 255, 0.7); */
    padding: 0px 15px;
    border-radius: 2px;
    font-size: max(16px, 1.6vh);
    /* top: 18px; */
}

.fish-text
{
    background-color: rgba(210, 173, 255, 0.8);
    right: -30px;
    /* top: -70px; */
    top: min(-60px, -7.5vh);

}

.dance-text
{
    background-color:rgba(255, 202, 214, 0.8);
    left: -30px;
    /* top: -75px; */
    top: min(-60px, -7.5vh);
}

.jug-text
{
    background-color:rgba(236, 181, 217, 0.8);
    right: -30px;
    bottom: min(-60px, -7.5vh);
}


.close
{
    /* font-family: 'Syne', sans-serif; */
    /* font-family: 'Inknut Antiqua', serif; */
    font-size: max(30px, 4vh);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(29, 0, 104);
}

@media screen and (max-aspect-ratio: 1/1)
{
    .fish-container, .fish-painting
    {
        width: 80vw;
        height: calc(80vw * 0.54);
    }
    .fish-container
    {
        bottom: 45vh;
        top: auto;
    }


    .dance-container, .dance-painting
    {
        width: 80vw;
        height: calc(80vw * 0.77);
    }
    .dance-container
    {
        top: 15vh;
        bottom: auto;
    }


    .jug-container, .jug-painting
    {
        height: 40vh;
        width: calc(40vh * 0.78);
    }
    .jug-container
    {
        top: 10vh;
        bottom: auto;
    }


    .fish-text, .dance-text, .jug-text
    {
        top: min(-60px, -7vh);
    }
}