html, body, #root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgb(22, 16, 26);
}

.painting-overlay
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}


.info-button
{
    position: absolute;
    bottom: 15px;
    left: 20px;
    padding: 0;
    background-color: rgba(255, 53, 238, 0.0);
    font-family:'Inknut Antiqua', serif;
    font-weight: 500;
    color: rgb(235, 251, 255);
    border: none;
    outline-color: rgb(223, 248, 255);
    outline-style: solid;
    outline-width: 1.5px;
    font-size: 17px;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
    cursor: pointer;
    /* mix-blend-mode: difference; */
}


.info-overlay
{
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translateX(-50%) translateY(-50%);
    background-color: rgba(255, 240, 240, 0.85);
    border: 15px solid rgba(254, 207, 85, 1);
    filter: drop-shadow(3px 3px 2px rgba(0, 52, 238, 0.15));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    animation: fadeIn 0.4s;
}

ul
{
    list-style-type: none;
    /* margin: 75px 65px 40px 65px; */
    margin: 70px 60px;
    padding: 0;
}

li
{
    font-family:'Alegreya', serif;
    font-weight: 500;
    font-size: 16pt;
    color: #402eff;
    padding: 2.5px;
    white-space: nowrap;
}

footer
{
    color:  #402eff;
    font-size: 13pt;
    margin: -15px 60px 18px 60px;
    white-space: nowrap;
}

.bold
{
    font-weight: 800;
}

.italic
{
    font-style: italic;
}


.fish-container
{
    position: absolute;
    top: 30vh;
    right: 10vw;   
    width: min(699px, 33vw);
    height: calc(min(699px, 33vw) * 0.54);
    animation: fadeIn 0.5s;
}

.table-container
{
    position: absolute;
    top: 10vh;
    left: 40vw;
    width: min(490px, 30vw);
    height: calc(min(490px, 30vw) * 0.76);
    animation: fadeIn 0.5s;
}


.dance-container
{
    position: absolute;
    top: 15vh;
    left: 7vw;   
    width: min(700px, 35vw);
    height: calc(min(700px, 35vw) * 0.77);
    animation: fadeIn 0.5s;
}

.jug-container
{
    position: absolute;
    left: 16vw;
    bottom: 20vh;
    height: min(600px, 55vh);
    width: calc(min(600px, 55vh) * 0.78);
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1;}
}


.fish-painting,
.dance-painting,
.jug-painting,
.table-painting
{
    cursor: pointer;
    pointer-events: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    outline: 10px solid rgba(254, 207, 85, 1);
    filter: drop-shadow(3px 3px 2px rgba(0, 32, 146, 0.15))
}

.fish-painting
{
    width: min(699px, 33vw);
    height: calc(min(699px, 33vw) * 0.54);
}

.table-painting
{
    width: min(490px, 30vw);
    height: calc(min(490px, 30vw) * 0.76);
}

.dance-painting
{
    width: min(700px, 35vw);
    height: calc(min(700px, 35vw) * 0.77);
}


.jug-painting
{
    height: min(600px, 55vh);
    width: calc(min(600px, 55vh) * 0.78)
}

/* .fish-text,
.dance-text,
.jug-text
{   
    font-family: 'Inknut Antiqua', serif;
    position: absolute;
    width: max-content;
    height: fit-content;
    color: #0E1261;
    padding: 0px 15px;
    border-radius: 2px;
    font-size: max(16px, 1.6vh);
}

.fish-text
{
    background-color: rgba(210, 173, 255, 0.8);
    right: -30px;
    top: min(-60px, -6vh);

}

.dance-text
{
    background-color:rgba(255, 202, 214, 0.8);
    left: -30px;
    top: min(-60px, -6vh);
}

.jug-text
{
    background-color:rgba(236, 181, 217, 0.8);
    right: -30px;
    bottom: min(-60px, -6vh);
} */


.close
{
    font-size: max(40px, 5vh);
    font-style: 'Alegreya', serif;
    font-weight: 500;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(92, 130, 255);
    mix-blend-mode: screen;
    
}

.close-icon, .info-close-icon
{
    width: min(23px, 4.5vw);
    height: auto;
    position: absolute;
    right: max(-40px, -8vw);
    top: max(-40px, -8vw);
    cursor: pointer;
    pointer-events: auto;
}

.info-close-icon
{
    right: max(-45px, -9vw);
    top: max(-45px, -9vw);
}

@media screen and (max-aspect-ratio: 1/1)
{
    .fish-container, .fish-painting
    {
        width: 80vw;
        height: calc(80vw * 0.54);
    }
    .fish-container
    {
        bottom: 48vh;
        top: auto;
    }


    .dance-container, .dance-painting, .table-container, .table-painting
    {
        width: 75vw;
        height: calc(75vw * 0.77);
    }
    .dance-container
    {
        top: 15vh;
        left: 10vw;
        bottom: auto;
    }

    .table-container
    {
        top: 12vh;
        left: 15vw;
    }


    .jug-container, .jug-painting
    {
        height: 40vh;
        width: calc(40vh * 0.78);
    }
    .jug-container
    {
        top: 10vh;
        bottom: auto;
    }


    .fish-text, .dance-text, .jug-text
    {
        top: min(-60px, -7vh);
    }

    .info-button
    {
        left: 15px;
    }

    ul
    {
        margin: 30px 30px;
        padding: 0;
    }


    footer
    {
        display: none;
    }
}

@media screen and (max-width: 750px)
{
    ul
    {
        margin: 30px 20px;
        padding: 0;
    }

    li
    {
        font-size: 18px;
        color: #402eff;
        padding: 4px;
        white-space: normal;
    }

    .info-overlay
    {
        width: 80vw;
        height: auto;
    }
}